body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

footer {
    width: 100%;
    position: fixed; 
    bottom: 5px;
    font-size: large;
    text-align: center;
    border: 2px black solid;
    padding-top: 10px;
}
footer #author {
    background-color: darkgoldenrod;
    padding: 10px;
    font-size: small;
}

@media only screen and (max-width: 900px) {
    footer {
        bottom: 0;
        left:0;
        position: relative; 
        font-size: small;
    }
}